<div class="flex flex-col w-full h-screen">
    <div class="w-full bg-transparent">
        <div class="flex flex-wrap items-center justify-between mx-auto p-4">
            <div class="flex mr-auto">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-black">Andy Rubiano - gestión de tareas</span>
            </div>

            <div class="flex ml-auto space-x-3 md:space-x-2">  
                <button type="button" [routerLink]="['/nueva-tarea',0]" class="flex items-center text-white font-medium rounded-lg text-sm px-4 py-2 text-center bg-blue-600 hover:bg-blue-700">
                    <i class="fa-solid fa-plus mr-2"></i> Nueva tarea
                </button>
            </div>
        </div>
    </div>

    <div class="flex-grow">
        <table class="text-left w-full table-fixed">
          <thead class="bg-black text-white sticky top-0">
            <tr class="text-center font-semibold">
              <th class="p-4 w-1/4">ID</th>
              <th class="p-4 w-1/4">Tarea</th>
              <th class="p-4 w-1/4">Status</th>
              <th class="p-4 w-1/4">Responsable</th>
              <th class="p-4 w-1/4">Acciones</th>
            </tr>
          </thead>
        </table>
        
        <div class="overflow-y-auto" style="max-height: calc(100vh - 100px);">
            <table class="text-left w-full table-fixed">
                <tbody class="bg-white">
                    <tr *ngFor="let task of totalTasks">
                        <td class="p-4 w-1/5 border border-gray-300 text-center font-semibold">{{ task.id }}</td>
                        <td class="p-4 w-1/5 border border-gray-300">{{ task.task }}</td>
                        <td class="p-4 w-1/5 border border-gray-300 text-center">{{ task.status }}</td>
                        <td class="p-4 w-1/5 border border-gray-300">
                            <ul *ngIf="task.responsibles">
                                <li *ngFor="let person of task.responsibles; let i = index" class="flex flex-col items-start mb-4">
                                <div class="flex items-start">
                                    <span class="mr-2">•</span>
                                    <div>{{ person.name }} - {{ person.age }} años</div>
                                </div>
                
                                <span *ngIf="person.skills && person.skills.length > 0" class="ml-4 mt-0">
                                    <br> Habilidades:
                                    <div *ngFor="let skill of person.skills">
                                    <span class="mr-2">•</span> {{ skill.skill }}
                                    </div>
                                </span>
                                </li>
                            </ul>
                        </td>
                        <td class="p-4 w-1/5 border border-gray-300">
                            <button type="submit" class="w-10 h-10 justify-center text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" (click)="deleteTask(task.id)" class="w-10 h-10 justify-center text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
