<form class="space-y-2 p-10" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-center">
        <h2 class="mb-1 text-5xl font-semibold text-foreground">Tarea nueva</h2>
        <p class="text-sm text-muted-foreground">Bienvenido a este módulo, acá puedes crear tu nueva tarea y asignarla a cada persona</p>
    </div>

    <div class="flex gap-2">
        <div class="w-1/2">
            <label for="task" class="text-sm text-start text-black">Tarea <span class="text-red-500">*</span><span *ngIf="!form.controls['task'].valid && form.controls['task'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <input id="task" formControlName="task" type="text" placeholder="Tarea"  [ngClass]="{'bg-red-300': !form.controls['task'].valid && form.controls['task'].touched}" class="flex items-center w-full px-5 py-2 text-sm text-black placeholder:text-gray-500 rounded-lg border border-gray-200"/>
        </div>
    
        <div class="w-1/2">
            <label for="status" class="text-sm text-start text-black">Estado <span class="text-red-500">*</span><span *ngIf="!form.controls['status'].valid && form.controls['status'].value" class="msg-error">(Este campo es obligatorio)</span></label>
            <select id="status" formControlName="status" class="block w-full text-black text-sm rounded-lg px-5 py-2 placeholder:text-gray-500 border border-gray-200">
                <option value="" disabled>Seleccione</option>
                <option [value]="statusOption.value" *ngFor="let statusOption of statusOptions">{{ statusOption.label }}</option>
            </select>
        </div>
    </div>

    <div class="flex items-center">
        <button type="submit" [disabled]="form.invalid" class="w-32 justify-center text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 disabled:opacity-50">
            Crear tarea
        </button>
        <button type="button" (click)="cancel()" class="w-32 justify-center text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2">
            Cancelar
        </button>
    </div>
</form>